body {
    font-family: sans-serif;
}




.box-wrap0 {
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
}




.t1 {
    position: absolute;
    font-size: 24px;
    margin-left: 7px;
    margin-top: -1px;
}

.t2 {
    position: absolute;
    font-size: 20px;
    margin-left: 35px;
    margin-top: 2px;
}
.t2 {
    position: absolute;
    font-size: 20px;
    margin-left: 35px;
    margin-top: 2px;
}






.anniu1 {
    margin: 0 auto;
    width: 280px;
    height: 33px;
    font-size: 18px;
    border-radius: 15px;
    background: rgb(22, 40, 212);
    color: #FFF;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: left;
   
}


.anniu2 {
    position: absolute;
    width: 80px;
    font-size: 18px;
    border-radius: 12px;
    background: rgb(22, 40, 212);
    color: #FFF;
  
    text-align: center;
}

 



#logo {
    position: absolute;
    width: 50px;
    left: 5px;
    top: 5px;
}

#aa2 {
    position: absolute;
    margin-top: -60px;
    margin-left: 150px;
}
#aa3 {
    position: absolute;
    color: red;
    margin-top: -32px;
    margin-left: -130px;
    font-size:15px;
}


.tx3 {
    margin: 0 auto;
    width: 320px;
    font-size: 17px;
    color: dodgerblue;
    margin-top: 10px;
    text-align: left;
}
